<!-- Basic Needs -->
<nav class="top-bar">
  
  <header id="logohead">
      <%= image_tag "techylogo.png" %>

      <span class="headset">Welcome, Name!</span><span class="straightbar">|</span>
      <span class="headset">Logout</span>
      <hr>
  </header>

</nav>

<nav> 
  <ul class="nav-bar">
    <li><%= link_to "Home", pages_home_path %></li>
    <li><%= link_to "Take a Test", pages_tests_path %></a></li>
    <li><%= link_to "Submit a Test", pages_create_path %></li>
    <li><%= link_to "User Dashboard", pages_about_path %></li>
  </ul>
</nav>

<!-- Positioning the Top Bar -->
<div class="fixed contain-to-grid">
  <!-- <nav> goes here -->  
</div>